.footerBase{
  bottom: 0;
  background: rgb(63, 166, 99);
  left: 0;
  position: fixed;
  width: 100%;
  color: white;
  border-top: 1px solid #E7E7E7;
  text-align: center;
}

.phantom {
  display: 'block';
  padding: '20px';
  height: '60px';
  width: '100%';
}

@media (max-width: 769px) {
  .footerBase {
    margin-bottom: 50px;
    display: none;
  }
}